mixin file(item, source)
  li
    h3 #{item.path.split('/').pop()}
    img(src=item.thumbnail)
    div
    h4 Details
    dl
      if item.reason
        dt Rejected for:
        dd #{item.reason}
      dt width
      dd #{item.width}
      dt height
      dd #{item.height}
      dt size
      dd #{item.size}
      dt birthtime
      dd #{item.birthtime}
    if item.exifData
      h5 Exif data
      dl
        if item.exifData.image.ImageDescription
          dt ImageDescription
          dd #{item.exifData.image.ImageDescription}
        if item.exifData.image.Artist
          dt Artist
          dd #{item.exifData.image.Artist}
