doctype html
html
  include file.pug
  head
    title Fotopia Reviewer
  body
    header
      h1 Fotopia Revewer
      p Source #{source}
      p Accepted #{summary.accepted} Rejected: #{summary.rejected}
      h4 Tally by rejection reason:
      dl
      each amount, reason in summary.Tally
        dt= reason
        dd= amount
    section
      h2 Rejected files
      ul
      each item in rejected
        +file(item)
    section
      h2 Accepted files
      ul
      each item in accepted
        +file(item)
