doctype html
html
  include file.pug
  head
    title Fotopia Reviewer
    style
      include style.css
  body
    header
      h1 Fotopia Revewer
      p Source #{source}
      p Accepted: #{summary.Accepted} Rejected: #{summary.Rejected}
      h4 Tally by rejection reason:
      dl
        each amount, reason in summary.Tally
          dt= reason
          dd= amount
    section
      h2 Rejected files
      ul.image-grid
        each item in rejected
          +file(item)
    section
      h2 Accepted files
      ul.image-grid
        each item in accepted
          +file(item)
